<div class="combat-dock {{#if reverseHeaderPosition}}reverse-header-position{{/if}} {{#if isDaggerheart}}daggerheart-mode{{/if}}">
    <div class="buttons-container left" {{#unless isGM}}style="display: none;"{{/unless}}>
        <button class="icon ui-control fas fa-chevron-left" data-tooltip="COMBAT.TurnPrev" data-action="previous-turn"></button>
        <button class="icon ui-control fas fa-chevrons-left" data-tooltip="COMBAT.RoundPrev" data-action="previous-round"></button>
    </div>
<div id="combatants" {{#if scroll}}style="pointer-events: all;"{{/if}}></div>
    <div class="buttons-container right" {{#unless isGM}}style="display: none;"{{/unless}}>
        <button class="icon ui-control fa-solid fa-globe" data-tooltip="combat-tracker-dock.add-event.title" data-action="add-event"></button>
        <button class="icon ui-control fas fa-play" data-tooltip="COMBAT.Begin" data-action="start-combat"></button>
        <button class="icon ui-control fas fa-ban" data-tooltip="COMBAT.End" data-action="end-combat"></button>
        <button class="icon ui-control fas fa-cog" data-tooltip="COMBAT.Settings" data-action="configure"></button>
        <button class="icon ui-control fas fa-chevron-right" data-tooltip="COMBAT.TurnNext" data-action="next-turn"></button>
        <button class="icon ui-control fas fa-chevrons-right" data-tooltip="COMBAT.RoundNext" data-action="next-round"></button>
    </div>
</div>
